body {
	background: black;
}

p {
	font-family: futura;
}

img {
	width:600px;
}

.frame {
	margin-left:20%;
	margin-top:24%;
	position:absolute;
	border: 10px solid white;
	animation-name: frame;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes frame {  
	0%% {filter: grayscale(0%);}
	20%% {filter: grayscale(0%);}
	100% {filter: grayscale(100%);}
}


a {
	text-decoration:none !important;
}











































