body {
	background: #2e3092;
}

p {
	font-family: futura;
}

img {
	width:500px;
}

.wings {
	padding-left:150px;
	padding-top:50px;
	position:absolute;
	z-index:10;
	animation-name: wings;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes wings{  
	0% {padding-top:50px;}
	10% {padding-top:50px;
		margin-top:0px;}
	100% {margin-top:-700px;}
}

.text {
	padding-left:1150px;
	position:fixed !important;
}

.text p {
	color:white;
	font-size:50px;
	letter-spacing:10px;
	animation-name: song;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes song {  
	0% {padding-top:730px;}
	50% {padding-top:700px;}
	100% {padding-top:730px;}
}



a {
	text-decoration:none !important;
}











































