body {
	background: #2e3092;
}

p {
	font-family: futura;
}

img {
	width:500px;
}

.wings {
	padding-left:150px;
	padding-top:50px;
}

.wings a:hover {
	animation-name: wings;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes wings{  
	0% {padding-top:50px;}
	100% {padding-top:90px;}
}

.text {
	padding-left:1150px;
}

.text p {
	color:white;
	font-size:50px;
	animation-name: song;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes song {  
	0% {padding-top:160px;}
	50% {padding-top:130px;}
	100% {padding-top:160px;}
}



a {
	text-decoration:none !important;
}











































