body {
	background: #ed1c24;
}

p {
	font-family: futura;
}

img {
	width:200px;
	border:4px solid #1b75bb;
}

.heart {
	padding-left:1050px;
	padding-top:150px;
	position:absolute;
}

.text {
	padding-left:600px;
	position:fixed !important;
}

.text p {
	color:white;
	font-size:25px;
	letter-spacing:10px;
	animation-name: song;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes song {  
	0% {padding-top:330px;}
	50% {padding-top:301px;}
	100% {padding-top:330px;}
}

.text2 {
	padding-left:600px;
	position:fixed !important;
}

.text2 p {
	color:white;
	font-size:25px;
	letter-spacing:10px;
	animation-name: songtwo;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes songtwo {  
	0% {padding-top:345px;}
	50% {padding-top:315px;}
	100% {padding-top:345px;}
}

.gp {
	padding-left:200px;
	padding-top:850px;
	position:fixed !important;
	width:100px;
	text-align:justify;
	line-height: 7px;
	opacity:0.3;
}

.gp p {
	color:#1b75bb;
	font-size:15px;
}

a {
	text-decoration:none !important;
}











































