body {
	background: #1b75bb;
}

p {
	font-family: futura;
}

.baby{
	padding-left:200px;
	padding-top:50px;
	position:absolute;
}
.baby img {width:500px;}

.logo{
	padding-left:1150px;
	margin-top:200px;
	position:absolute;
}

.logo img {width:450px;}




.text {
	padding-left:600px;
	position:fixed !important;
}

.text p {
	color:white;
	font-size:80px;
	letter-spacing:-15px;
	animation-name: song;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes song {  
	0% {margin-top:130px;}
	50% {margin-top:100px;}
	100% {margin-top:130px;}
}

.gp {
	padding-left:590px;
	padding-top:850px;
	position:fixed !important;
	width:100px;
	text-align:right;
	line-height: 7px;
	opacity:0.4;
}

.gp p {
	color:black;
	font-size:15px;
}

a {
	text-decoration:none !important;
}











































