* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: skyblue;
	position: relative;
}

.canvas2 {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: brown;
	position: relative;
	z-index:-1;
}

.block {
	height:50px;
	width:1px;
	background: skyblue;
}

.clockborder {
	border:25px solid black;
	background: white;
	width:300px;
	height:300px;
	margin-left:400px;
	padding-top:150px;
	position:static;
	z-index:2;
}

.longhand {
	background:black;
	width:17px;
	height:115px;
	margin-left:542px;
	margin-top:-250px;
	position:absolute;
	z-index:3;
	top:0
	left:0;
}

.shorthand {
	background:black;
	width:85px;
	height:17px;
	margin-left:542px;
	margin-top:-145px;
	position:absolute;
	z-index:4;
	top:0
	left:0;
}

.clockshadow {
background: linear-gradient(to bottom, rgb(0, 96, 128), rgba(7,98,79,0));
height:145px;
width:300px;
z-index:0;
margin-left:400px;
margin-top:0px;
position: absolute;
}

.block2 {
	height:99px;
	width:1px;
	background: brown;
}

.ball{
	background: #e0e0d1;
	border:25px solid #e0e0d1;
	border-radius:50%;
	width:300px;
	height:300px;
	margin-left:150px;
	position:static;
	z-index:0;
}

.ballshadow {
	background: #331100;
	border:10px solid #331100;
	border-radius:50%;
	width:425px;
	height:30px;
	margin-left:90px;
	margin-top:250px;
	position:relative;
	z-index:-1;
}

.hole1 {
	background:#89895d;
	border:5px solid #89895d;
	border-radius:50%;
	width:35px;
	height:35px;
	margin-left:20px;
	margin-top:-200px;
	position:static;
	z-index:1;
}

.hole2 {
	background:#89895d;
	border:5px solid #89895d;
	border-radius:50%;
	width:35px;
	height:35px;
	margin-left:80px;
	margin-top:-36px;
	position:static;
	z-index:1;
}	

.hole3 {
	background:#89895d;
	border:5px solid #89895d;
	border-radius:50%;
	width:35px;
	height:35px;
	margin-left:51px;
	margin-top:15px;
	position:static;
	z-index:1;
}	