body {
	background: #2e3092;
}

p {
	font-family: futura;
}

img {
	width:500px;
}

.fleur {
	padding-left:150px;
	padding-top:50px;
	position:absolute !important;
}

.fleur a:hover {
	animation-name: fleur;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fleur {  
    0% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

.text {
	padding-left:1050px;
	position:absolute !important;
}

.text p {
	color:white;
	font-size:50px;
	animation-name: song;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes song {  
	0% {padding-top:660px;}
	50% {padding-top:630px;}
	100% {padding-top:660px;}
}



a {
	text-decoration:none !important;
}











































