.content{
	width:700;
	height:100px;
	margin-left:750px;
	margin-top:408px;
	text-align:left;
	position:static;
	display:inline-block;
}

.how {
	position:fixed;
	margin-top:400px;
	margin-left:550px;
}



