.content{
	width:800;
	height:100px;
	margin-left:622px;
	margin-top:508px;
	text-align:center;
	position:static;
	display:inline-block;
	font-family:helvetica;
}

.content p {
	font-size:32px;
}

.how {
	position:fixed;
	margin-left:650px;
	margin-top:-100px;
}

.how p {
	font-family:helvetica;
	font-size:300px;
}

p {
	font-family:gill sans;
}

.one {
	margin-left: 900px;
	font-size:20px;
	line-height: 60px;
}

.two {
	margin-left: 600px;
	font-size:30px;
	line-height: 60px;
}

.three {
	margin-left: 300px;
	font-size:40px;
	line-height: 90px;
}











