.box {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:250px;
	margin-left:150px;
	display:inline-block;
}
.box2 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box3 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box4 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box5 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box6 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box7 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box8 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box9 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box10 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box11 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box12 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box13 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
.box14 {
	width:min-content;
	border:6px solid black;
	padding:7px;
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}










































