
.logo1 {
	padding-left:150px;
	padding-top:50px;
	position:absolute;
	z-index:10;
	animation-name: logoone;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes logoone {  
    0% { opacity: 0.0; }
    33% { opacity: 1.0; }
    66% { opacity: 1.0; }
    100% { opacity: 1.0; }
}

.logo1 {
	width:500px;
}

.logo2 {
	padding-left:150px;
	padding-top:225px;
	position:absolute;
	z-index:10;
	animation-name: logotwo;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes logotwo {  
    0% { opacity: 0.0; }
    33% { opacity: 0.0; }
    66% { opacity: 1.0; }
    100% { opacity: 1.0; }
}

.logo2 {
	width:500px;
}

.logo3 {
	padding-left:150px;
	padding-top:400px;
	position:absolute;
	z-index:10;
	animation-name: logothree;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes logothree {  
    0% { opacity: 0.0; }
    33% { opacity: 0.0; }
    66% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.logo3 {
	width:500px;
}

.eblogo {
	padding-left:1040px;
	padding-top:690px;
	position:absolute;
	z-index:10;
}

.eblogo img {
	width:80px;
}


.text {
	padding-left:400px;
	position:fixed !important;
}

.text p {
	color:#1b75bb;
	font-size:50px;
	animation-name: song;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-family: futura;
}

@keyframes song {  
	0% {padding-top:660px;}
	50% {padding-top:630px;}
	100% {padding-top:660px;}
}



a {
	text-decoration:none !important;
}











































