* {
	font-family:Helvetica;
}

body {
	background: white;
	margin-left:30px;
}

.title {
	font-family:Helvetica;
	font-weight: bold;
	font-size:53px;
	margin-top:30px;
	text-align:center;
}

.ostrich {
	font-family:Caslon;
	color:red;
	font-size:80px;
	letter-spacing:15px;
	text-transform:uppercase;
}

.toctitle {
	font-family:Helvetica;
	font-size:35px;
	color:#4d4d4d;
	margin-top:-20px;
}

#toc {
	margin-left:-34px;
	text-align:left;
	margin-top:-30px;
	line-height: 29px;
	font-size:20px;
	font-style:italic;
}

#toc li {
	font-family:Helvetica;
	list-style:none;
	font-weight:normal;
}

#toc li a:link {
	color:blue;
}

#toc li a:visited {
	color:purple;
}

}
#toc li a:hover {
	color:red;
	font-size:25px;
}

a {
	text-decoration: none;
}

#method1 {
	background:lightblue;
	margin-right:26px;
	border: 10px solid darkblue;
}

#method1 h2 {
	padding-left:58px;
	padding-top:20px;
	color:darkblue;
	font-size:30px;
}

.float img {
	float:left;
	margin:20px;
	margin-top:0px;
	margin-right:30px;
	margin-bottom:40px;
	clear:both;
	border: 5px solid darkblue;
	}

.float {
	display:inline-block;
	margin-right:40px;
}

.float ul {
	list-style-position: inside;
}


/*Method 2*/

#method2 {
	background:pink;
	margin-right:26px;
	border: 10px solid darkred;
	margin-top:30px;
}

#method2 h2 {
	padding-left:58px;
	padding-top:20px;
	color:darkred;
	font-size:30px;
}

.float2 img {
	float:right;
	margin:20px;
	margin-top:0px;
	margin-right:30px;
	margin-bottom:40px;
	clear:both;
	border: 5px solid darkred;
	}

.float2 {
	display:inline-block;
	margin-left:38px;
}

.float2 ul {
	list-style-position: inside;
}


/*Method 3*/

#method3 {
	background:lightgreen;
	margin-right:26px;
	border: 10px solid darkgreen;
	margin-top:30px;
	margin-bottom: 40px;
}

#method3 h2 {
	padding-left:58px;
	padding-top:20px;
	color:darkgreen;
	font-size:30px;
}

.float3 img {
	float:left;
	margin:20px;
	margin-top:0px;
	margin-right:30px;
	margin-bottom:40px;
	clear:both;
	border: 5px solid darkgreen;
	}

.float3 {
	display:inline-block;
	margin-right:38px;
}

.float3 ul {
	list-style-position: inside;
}




