* {
	font-family:Helvetica;
}

body {
	background: white;
	margin-left:30px;
}

.title {
	font-family:Helvetica;
	font-weight: bold;
	font-size:48px;
	margin-top:30px;
}

.ostrich {
	font-family:Caslon;
	color:red;
	font-size:80px;
	letter-spacing:15px;
}

.toctitle {
	font-family:Helvetica;
	font-size:35px;
	margin-top:-20px;
}

#toc {
	margin-left:-20px;
	margin-top:-30px;
	line-height: 29px;
	font-size:20px;
}

#toc li {
	font-family:Helvetica;
	list-style:none;
}

#toc li a:link {
	color:blue;
}

#toc li a:visited {
	color:purple;
}

}
#toc li a:hover {
	color:red;
	font-size:25px;
}

a {
	text-decoration: none;
}

#method1 {
	background:lightblue;
	margin-right:26px;
}

#method1 h2 {
	padding-left:38px;
	padding-top:25px;
	color:darkblue;
}


.float img {
	float:left;
	margin:20px;
	margin-top:0px;
	margin-right:;
	clear:both;

	}
.float {
	display:inline-block;
}





