body {
	background: white;
}

.title {
	font-family:Helvetica;
	font-weight: bold;
	font-size:48px;
	margin-top:30px;
	margin-left:30px;
}

.ostrich {
	font-family:Caslon;
	color:red;
	font-size:80px;
}

#toc li {
	font-family:Helvetica;
	text-decoration:none;
	color:red;
}

#toc li a:hover {
	color:black;
}