html, body {
  height: 100%;
}

body {
  background-color:#2e3092;;
  overflow:auto;
}

img {
	width:20%;
	margin-left:-1%;
	margin-bottom:-1%;
}



.container {
	background: url('..images/p3loulou.jpg');
	width:100%;
	margin-top:-20px;
	
}

.container p {
	color:white;
	font-size:125px;
	font-family: futura;
	padding-left:320px;
	padding-top:200px;
	animation-name: bf;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position:fixed !important;
}

@keyframes bf {  
	0% {color:white;}
	50% {color:#2e3092;}
	100% {color:white;}
}

a {
	text-decoration:none !important;
}











































