html, body {
  height: 100%;
}

body {
  background-color:black;
  overflow:auto;
}

.container {
	background: url('../images/6.jpg');
  width:75%;
  height:150%;
  margin-left:12.5%;
  margin-top:-15%;


}

h1 {
	font-size:200px;
  padding-right:5%;
  padding-top:25%;
	color:red;
  text-align:right;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@media screen and (max-width: 1024px) {

  .container { background: url('../images/5.jpg'); }
  h1 { 
    font-size: 150px;
    animation-name: flash;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

}

@media screen and (max-width: 768px) {

  .container { 
    background: url('../images/4.jpg');

     }
  h1 { 
    font-size: 100px;
    animation-name: flash;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@media screen and (max-width: 600px) {

  .container { background: url('../images/3.jpg'); }
  h1 { 
    font-size: 50px;
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@media screen and (max-width: 480px) {
  
  .container { background: url('../images/2.jpg'); }
  h1 { 
    font-size: 25px;
    animation-name: flash;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 320px) {

  .container { background: url('../images/1.jpg');}
  h1 { 
    font-size: 13px;
    animation-name: flash;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}















